body {
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #16191f;
  background-color: #f2f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
}